.containerProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 24px;
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  width: 100%;
}

.form-control, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  height: 45px;
}

#map {
  width: 500px;
  height: 300px;
  margin: 20px auto;
  cursor: pointer;
}
input{
  height: 40px;
}
