.containerProfile {
    width: 600px;
    height: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #000; /* Grosor del borde de 2px */
    text-align: center; /* Centrar horizontalmente el contenido */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente el contenido */
    background-color: #f8f8f8; /* Color de fondo opcional para resaltar el contenedor */
}

.containerProfile h1 {
    font-size: 28px; /* Tamaño de fuente más grande para los títulos */
    margin: 10px 0; /* Espaciado superior e inferior para los títulos */
}

.containerProfile p {
    font-size: 20px; /* Tamaño de fuente más grande para el texto */
    margin: 5px 0; /* Espaciado superior e inferior para el texto */
}

.containerProfile img {
    max-width: 200px; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Mantén la relación de aspecto de las imágenes */
}

.containerProfile button {
    padding: 10px 20px; /* Espaciado interno para los botones */
    font-size: 20px; /* Tamaño de fuente más grande para el botón */
    background-color: #000; /* Fondo negro para el botón */
    color: #fff; /* Texto blanco para el botón */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al puntero al pasar por encima */
    transition: background-color 0.3s; /* Transición de color de fondo al pasar por encima */
}

.containerProfile button:hover {
    background-color: #333; /* Color de fondo ligeramente más oscuro al pasar por encima del botón */
}
/* Diseños de tabla de sucursales */

.styled-table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.styled-table th {
    background-color: #f2f2f2;
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tr:hover {
    background-color: #ddd;
}

/* Estilo para los enlaces */
.styled-table a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

.styled-table a:hover {
    text-decoration: underline;
}

/* Diseños de edit usuarios */
.form-control {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
}

.form-control:focus {
    border-color: #007bff; /* Cambia el color del borde al enfocar el campo */
}
.label {
    font-size: 18px; /* Tamaño de fuente para los labels */
    margin-bottom: 5px; /* Espaciado inferior entre el label y el campo de entrada */
    color: #333; /* Color del texto del label */
}

